@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(93.88% 0.033 300.19);
    --secondary-background: oklch(100% 0 0);
    --foreground: oklch(0% 0 0);
    --main-foreground: oklch(0% 0 0);
    --main: oklch(70.28% 0.1753 295.36);
    --border: oklch(0% 0 0);
    --ring: oklch(0% 0 0);
    --overlay: oklch(0% 0 0 / 0.8);
    --shadow: 4px 4px 0px 0px var(--border);
    --yellow: oklch(96.79% 0.0654 102.26);
    --yellow-bright: #facc00;
    --chart-1: #a985ff;
    --chart-2: #00d696;
    --chart-3: #facc00;
    --chart-4: #ff4d50;
    --chart-5: #0099ff;
    --chart-active-dot: #000;
}

.dark {
    --background: oklch(30.14% 0.0826 296.5);
    --secondary-background: oklch(23.93% 0 0);
    --foreground: oklch(92.49% 0 0);
    --main-foreground: oklch(0% 0 0);
    --main: oklch(70.28% 0.1753 295.36);
    --border: oklch(0% 0 0);
    --ring: oklch(100% 0 0);
    --shadow: 4px 4px 0px 0px var(--border);
    --chart-1: #a985ff;
    --chart-2: #00bd84;
    --chart-3: #e0b700;
    --chart-4: #ff6669;
    --chart-5: #008ae5;
    --chart-active-dot: #fff;
}

@theme inline {
    --color-main: var(--main);
    --color-background: var(--background);
    --color-secondary-background: var(--secondary-background);
    --color-foreground: var(--foreground);
    --color-main-foreground: var(--main-foreground);
    --color-border: var(--border);
    --color-overlay: var(--overlay);
    --color-ring: var(--ring);
    --color-yellow: var(--yellow);
    --color-yellow-bright: var(--yellow-bright);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --spacing-boxShadowX: 4px;
    --spacing-boxShadowY: 4px;
    --spacing-reverseBoxShadowX: -4px;
    --spacing-reverseBoxShadowY: -4px;
    --radius-base: 5px;
    --shadow-shadow: var(--shadow);
    --font-weight-base: 500;
    --font-weight-heading: 700;
}

@layer base {
    body {
        @apply text-foreground font-base bg-background;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading;
    }
}

.delete-glow-border {
    box-shadow:
        0 0 2px 2px #fb3290,
        0 0 8px 4px #fb329080,
        0 0 16px 8px #fb329040,
        0 0 20px 12px #fb329020;
    contain: layout style paint;
}

.drag-glow-border {
    box-shadow:
        0 0 2px 2px #5294ff,
        0 0 8px 4px #5294ff80,
        0 0 16px 8px #5294ff40,
        0 0 20px 12px #5294ff20;
    contain: layout style paint;
}

.isometric-dots {
    background-color: var(--secondary-background);
    background-image: radial-gradient(
        circle,
        var(--border) 1px,
        transparent 1px
    );
    background-size: 30px 30px;
    background-position:
        0 0,
        15px 15px;
    transform-origin: center;
}
